<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/8Puzzle/src/puzzle/PuzzleChecker.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="puzzle.PuzzleChecker"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="puzzle45.txt puzzle46.txt puzzle47.txt puzzle48.txt puzzle49.txt puzzle50.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="8Puzzle"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms1024m -Xmx1024m"/>
</launchConfiguration>
